html, body{
    height: 100%;
    width: 100%;
}

.home-link {
    color: white;
    font-size: 23px;
}

.home-link:hover {
    color: red;
}

.logo-screen {
    position: fixed;
    height: 100vh;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.project-container .title {
    margin-top: 1em;
    justify-content: center;
    display: flex;
}


.projects {
    margin-bottom: 2em;
    justify-content: flex-start;
    display: flex;
}

.project {
    position: relative;
    cursor: pointer;
    margin-top: 1em;
    width: 90%;
}

.project-img {
    width: 100%;
    transition: 0.3s;
}

.project-img:hover {
    transform: scale(0.95);
}

.project-img:active {
    transform: scale(1.05);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .project-container .title {
        margin-top: 2.5em;
    }
}