@media screen and (max-device-width: 480px) and (orientation: portrait){
	
	/* Global */
	.header {
		margin-top: 0.5rem;
		padding-left: 0;
		padding-right: 0;
	}

	.menu{
		width: 30px !important;
	}

	#fp-nav{
		right: 0 !important;
	}

	.sub-container {
		width: 90%;
	}

	#lang-cn, #lang-en{
		font-size: 14px;
		padding:5px 5px;
	}

	.cross {
		top: 1.2rem;
		left: 1rem;
		width: 23px;
		height: 23px;
	}

	.nav-modal-content .nav-link {
		font-size: 35px !important;
		font-family: 500;
	}
	
	.nav-modal-copyright {
		position: absolute;
		bottom: 1.2rem;
		left: 1rem;
		display: block;
	}

	.text-deco-box{
		bottom: 1.2rem;
	}

	#scroll-down-indicator{
		bottom: 4rem;
	}

	.footer {
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.copyright{
		display: none;
	}

	.social-media {
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		font-size: 1.2rem;
	}

	.section .title{
		font-size: 30px;
	}

	.section .description{
		font-size: 14px;
	}

	.section .info-box{
		height: 95px;
		width: 95px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.section .info-box-icon {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	/* Home */
	.logo-container {
		padding: 10px;
	}

	/* About Me */
	.modal-dialog {
		max-width: 95%;
	}

	.modal-content {
		height: 98%;
	}

	.s2 .info-box {
		border: 2px solid red;
	}

	.s2 .info-box-title, .modal-body .tab .nav-link{
		font-size: 10px;
	}

	.modal-body .tab-content{
		font-size: 14px;
	}

	.modal-body .info-bar{
		padding: 5px;
		width: 100%;
		text-align: center;
	}

	/* My Projects */
	.s3 .project-row{
		width: 80%;
		margin-bottom: 30px;
	}

	.s3 .project {
		margin-left: 15px;
		margin-right: 15px;
	}

	.s3 .project-button {
		padding: 7px 14px 7px 14px;
		font-size: 14px;
		width: 40%;
	}

	.s3 .project-button:hover {
		padding: 7px 14px 7px 14px;
		font-size: 14px;
		width: 40%;
	}

	/* Work Experience */
	.s4 .description .company-name {
		text-align: initial;
		font-size: 14px;
	}
	
	.s4 .description .position {
		font-size: 10px;
		font-weight: 300;
	}

	.s4 .description .responsibility {
		font-size: 12px;
	}

	#timeline {
		margin-top: 0;
		height: 6px;
	}

	#timeline .inside{
		top: 2px;
		height: 2px;
	}

	#timeline .dot {
		width: 23px;
		height: 23px;
		top: -8px;
		border: 2px solid red;
	}
	
	#timeline date {
		font-size: 10px;
		text-align: left;
	}

	/* Job Interests */
	.s5 .info-num-text {
		font-size: 0.7rem;
	}

	.s5 .info-box-title {
		font-size: 8px;
	}
}